[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "Shades-of-Purple-iTerm2"]
	path = Shades-of-Purple-iTerm2
	url = https://github.com/ahmadawais/Shades-of-Purple-iTerm2.git
[submodule "iterm-components"]
	path = iterm-components
	url = https://github.com/sheatsley/iterm-components.git
[submodule ".vscode/extensions/purplish"]
	path = .vscode/extensions/purplish
	url = https://github.com/blainehoak/purplish.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
